body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}

button[type="submit"], button[type="button"] {
  width: 48%;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #ccc;
}

button[type="submit"].active {
  background-color: #4CAF50;
}

button[type="button"] {
  background-color: #f44336;
}

button:hover {
  opacity: 0.8;
}

textarea {
  height: 250px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.checkbox-container label {
  flex-grow: 0;
  margin-left: 31%;
  margin-right: 0px;
  white-space: nowrap;
}

.checkbox-container input[type="checkbox"] {
  margin-top: 12px;
  margin-right: 230px;
}


.button-container {
  display: flex;
  justify-content: space-between;
}

#redsign {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  color: red;
  font-weight: bold;
  text-align: center;
}

#canvasContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

#canvasWrapper {
  display: flex;
  justify-content: center;
}

#address {
    width: 100%;
}

